// variaveis de cores
$primary: #043873;
$secondary: #4F9CF9;
$tertiary: #FFE492;

$white: #fff;

$shadow: rgba(34,34,33,.4);

// variaveis de tamanho de título
$h1: 72px;
$h2: 64px;
$h3: 54px;
$h4: 36px;
$h5: 28px;

$h1_mobile: 40px;


// variaveis de tamanho de texto
$paragrafo_lg: 24px;
$paragrafo_md: 18px;
$paragrafo_sm: 16px;

// variaveis de linhas de texto
$lineHeigt: 1.3;
