@import "styles/_variables.scss";
@import "styles/_breakpoints.scss";

.mainHero {
  display: flex;
  background-image: url(../../../assets/background_lines.png), linear-gradient(360deg, $primary 2.35%, #0151ad 76.99%);
  background-position: center 13%;
  background-repeat: no-repeat;
  background-size: 275%;
  width: 100%;

  @media (min-width: $desktop_sm) {
    background-size: 120%;
  }

    &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1em;
      height: auto;
      max-width: $desktop_sm;
      padding: 0 1em 4em;

      @media (min-width: $desktop_sm) {
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
        padding: 6em 1em 6em;
      }

      &__content {
        padding: 8.5em 0 0;
        grid-column: 1 / span 4;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $desktop_sm) {
          align-items: normal;
          grid-column: 1 / span 6;
        }

        &__title {
          font-size: $h1_mobile;
          color: $white;
          text-align: center;
          margin-bottom: 1em;
          text-shadow: 3px 2px 5px $shadow;

          @media (min-width: $desktop_sm) {
            text-align: left;
          }
        }

        &__text {
          font-size: $paragrafo_md;
          font-weight: 300;
          line-height: 1.7;
          color: $white;
          text-align: center;

          @media (min-width: $desktop_sm) {
            text-align: left;
          }
        }

        &__buttonContainer {
          margin-top: 2em;
        }
      }

      &__imgContainer {
        grid-column: 1 / span 4;
        margin-top: 4em;

        @media (min-width: $desktop_sm) {
          grid-column: 7 / span 6;
          grid-row: 1;
        }
      }
    }
  }