@import "./styles/normalize.css";

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 242, 237);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faIconsContainer {
  display: flex;
  justify-content: space-around;
}

.faIcons {
  width: 3em;
  height: auto;
  vertical-align: middle;
  color: white;
}